# Loops

### For Loops

Below is an example of a for loop in action iterating over a list.

This loop counts up every time it loops and gives us the number of items it looped through in this list.

### It is important to note that the code that is looped will be tabbed over in python. If this is not done you will have problems.

In [4]:
words = ["Hello","no","Wow!","Happy"]

count=0

for word in words:
    count+=1
print(count)

4

### For Loops

Below is an example of a for loop in action with a set number of loops to perform.

It is set to loop exactly twice

it loops for every number 'i' in range of 0-2, not including 2, and prints the first 2 words in this case

In [7]:
words = ["Hello","no","Wow!","Happy"]

count=0

for i in range(2):
    print(words[i])

Hello
no

### While Loops & Booleans

Below is an example of a while loop in where the exit condition is set outside the loop is reached from in side the loop

The exit condition can dynamically change inside the loop, contrasting to the set exit a for loop has.

In [18]:
stay_in_loop = True
counter = 0
while stay_in_loop:
    if counter<10:
        print(counter)
        counter+=1
    else:
        stay_in_loop = False
        print("Exiting loop!")

0
1
2
3
4
5
6
7
8
9
Exiting loop!

### Conditional Statements

Below is an example of a simple if/else statement that checks the first letter of a word

In [19]:
word = "Hello!"

if word[0] == "H":
    print("The First letter of this word is H!")
else:
    print("There is no H at the start of this word.")

The First letter of this word is H!

# Functions

In [20]:
def starts_with_h(word):
    if word[0] == "H":
        print(word + " starts with H!")
    else:
        print(word + " doesn't start with H!")

In [21]:
words = ["Hello","no","Wow!","Happy"]

Combining this with a for loop we can now check a list of words

In [22]:
for word in words:
    starts_with_h(word)

Hello starts with H!
no doesn't start with H!
Wow! doesn't start with H!
Happy starts with H!

# Pandas

In [23]:
import pandas as pd
#using as pd makes the library call shorter and easier to type

In [25]:
df = pd.DataFrame()
#Creates an empty Dataframe

In [46]:
df = pd.DataFrame({"Col1":[1,2,3],
     "Col2":[4,5,6]})

In [47]:
df.head()
#Reads off the column names and the first few values

   Col1  Col2
0     1     4
1     2     5
2     3     6

# Numpy

In [11]:
import numpy as np

In [12]:
a = np.arange(15)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [16]:
a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [ ]:
#Numpy can do element wise operations much faster than usual loops can
a

# Extra Functions

### time.sleep

### datetime
##### (among other functions from time, this can be used to record and convert time, stop a program or measure how long a program runs)

In [27]:
import time
print("Waiting...")
time.sleep(3)
print("Done!")

Waiting...
Done!

In [37]:
from datetime import datetime

now = datetime.now() # Gets the current time in a computer friendly language
print(now)
#This can give you ridiculous precision with time recordings

2023-05-19 19:28:51.669548

### string.split()

Going back to the previous example the string library provides the ability to split phrases and words to a list.

Let's look at an example with a date as a string

In [49]:
values = "100 757 675"

numbers = values.split()
print(numbers)

['100', '757', '675']

### int()

The previous example is nice but it would the values given are still strings and have no numerical value

We can fix this using the int() command, this attempts to create a real number from the string.

One of these will give an error but one will not

In [63]:
10+numbers[0]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [64]:
10+int(numbers[0])

110

## OS commands


#### The OS library allows you to manipulate files if you are not using a libraries built in functions
#### It can get you directories, and perform certain console functiosn as well as other things

In [4]:
import os

In [5]:
#This will get the directory the script is running in. Useful for opening files.
os.getcwd()

'C:\\Users\\McCulloughStevenTann\\OneDrive - UT Arlington\\Projects\\2023\\NSF CyberTraining\\Examples\\Intro to Python - Tuesday Session'