# Applying different statistical functions

In [1]:
# This will download file 'Prcp1' from Github 
import requests 

csv_url = "https://raw.githubusercontent.com/stm5131/nsfcybertraining/main/Data/Prcp1.csv" # donwloading raw url

response = requests.get(csv_url) 

if response.status_code == 200: 

    with open('Prcp1.csv', 'wb') as f: 
        f.write(response.content) 
        print("File downloaded successfully.") 
else: 
    print('Failed to download file.')

File downloaded successfully.

In [2]:
import pandas as pd

In [3]:
#Read file
df = pd.read_csv("Prcp1.csv")

#Info of dataframe
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               1826 non-null   object
 1   Precipitation(mm)  1826 non-null   float64
dtypes: float64(1), object(1)
memory usage: 28.7+ KB

            date  Precipitation(mm)
0     2015-01-01               15.0
1     2015-01-02                9.4
2     2015-01-03                8.4
3     2015-01-04                0.0
4     2015-01-05                0.0
...          ...                ...
1821  2019-12-27                0.0
1822  2019-12-28               16.0
1823  2019-12-29                0.0
1824  2019-12-30                0.0
1825  2019-12-31                0.0

[1826 rows x 2 columns]

In [4]:
#Shape of dataframe
df.shape

(1826, 2)

In [5]:
#Remove rows with 0 rainfall

df_filtered = df[df['Precipitation(mm)'] > 0] 
df_filtered.reset_index

<bound method DataFrame.reset_index of             date  Precipitation(mm)
0     2015-01-01               15.0
1     2015-01-02                9.4
2     2015-01-03                8.4
9     2015-01-10                1.3
10    2015-01-11                9.4
...          ...                ...
1792  2019-11-28               11.2
1793  2019-11-29                5.1
1794  2019-11-30                5.3
1804  2019-12-10               13.7
1822  2019-12-28               16.0

[432 rows x 2 columns]>

In [6]:
#Get rows with particular values
df_filtered1 = df[df['Precipitation(mm)'] == 9.4] # == is an equality operator, = is an assigned operator
df_filtered1

            date  Precipitation(mm)
1     2015-01-02                9.4
10    2015-01-11                9.4
702   2016-12-03                9.4
1148  2018-02-22                9.4

In [7]:
#Select a range based on indexing
df_select = df.iloc[:1000] #Select first thousand entries
df_select

           date  Precipitation(mm)
0    2015-01-01               15.0
1    2015-01-02                9.4
2    2015-01-03                8.4
3    2015-01-04                0.0
4    2015-01-05                0.0
..          ...                ...
995  2017-09-22                0.0
996  2017-09-23                0.0
997  2017-09-24                0.0
998  2017-09-25                0.0
999  2017-09-26                0.0

[1000 rows x 2 columns]

In [8]:
df_select1 = df.iloc[20:100] #Select rows based on index
df_select1

          date  Precipitation(mm)
20  2015-01-21                8.1
21  2015-01-22               26.7
22  2015-01-23                0.0
23  2015-01-24                0.0
24  2015-01-25                0.0
..         ...                ...
95  2015-04-06                0.0
96  2015-04-07                0.0
97  2015-04-08                0.0
98  2015-04-09                2.3
99  2015-04-10                0.0

[80 rows x 2 columns]

In [9]:
df_select2 = df.iloc[20:] #Select all rows after this index
df_select2

            date  Precipitation(mm)
20    2015-01-21                8.1
21    2015-01-22               26.7
22    2015-01-23                0.0
23    2015-01-24                0.0
24    2015-01-25                0.0
...          ...                ...
1821  2019-12-27                0.0
1822  2019-12-28               16.0
1823  2019-12-29                0.0
1824  2019-12-30                0.0
1825  2019-12-31                0.0

[1806 rows x 2 columns]

In [10]:
#Find max value
Max = df.max()
Max

date                 2019-12-31
Precipitation(mm)         148.6
dtype: object

In [11]:
#Get index of row with maximum value
df[['Precipitation(mm)']].idxmax()

Precipitation(mm)    1359
dtype: int64

In [12]:
#Min value
Min = df_filtered.min()
Min

date                 2015-01-01
Precipitation(mm)           0.3
dtype: object

In [13]:
#Get index of row with minimum value
df_filtered[['Precipitation(mm)']].idxmin()

Precipitation(mm)    134
dtype: int64

In [14]:
#Find standard deviation, using df this includes 0 values
Std_Dev = df.std()
Std_Dev

Precipitation(mm)    10.848711
dtype: float64

In [15]:
#Find mean, using df : this includes 0 values
Mean = df.mean()
Mean

Precipitation(mm)    3.133625
dtype: float64

In [16]:
#Find median, using df : this includes 0 values
Median = df.median()
Median

Precipitation(mm)    0.0
dtype: float64

In [17]:
#Find sum of the columnns
import numpy as np
Sum = np.sum(df, axis=0)
Sum

date                 2015-01-012015-01-022015-01-032015-01-042015-0...
Precipitation(mm)                                                 5722
dtype: object

In [18]:
Rainfall = df['Precipitation(mm)']
Rainfall

0       15.0
1        9.4
2        8.4
3        0.0
4        0.0
        ...
1821     0.0
1822    16.0
1823     0.0
1824     0.0
1825     0.0
Name: Precipitation(mm), Length: 1826, dtype: float64

In [19]:
#count number of values greater than 10 in Rainfall
vals_greater_10 = (Rainfall > 10).sum()
vals_greater_10

170

In [20]:
#count number of values less than 10 in Rainfall
vals_less_10 = (Rainfall < 10).sum()
vals_less_10

1656

# Activity : Select first 200 rows and find mean, max, min, standard deviation and median.